
.add-img{
    position: relative; /* 设置为相对定位，以便子元素可以使用绝对定位 */
    display: inline-block; /* 或者其他你需要的显示方式 */
    border: none;
    height: 75px;
    margin: 5px;
    width: 75px;

}
.btn-img{
    width: 15px;
    height: 15px;
}

.preview-img {
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius:10px ;
    display: block;
}

.img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius:10px ;
}
.btn{
    float: right;
}

@media screen and (max-width: 700px){
    .container-img{
        margin-left: -10px;
    }
    .form-control{
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #c6c8ca;
        box-shadow:none ;
        border-radius: 0;
    }
    #textarea{
        border: none;
    }

    .btn{
        border-radius: 25px;
        width: 100px;
        margin: 25px 15px 25px 0;
    }

}
.delete-btn{
    position: absolute; /* 绝对定位，相对于最近的已定位祖先元素（在这里是.image-container） */
    top: 0px; /* 距离容器顶部的距离 */
    right: -15px; /* 距离容器右侧的距离 */
    display: inline-block; /* 确保按钮是内联块级元素 */
    text-decoration: none; /* 移除下划线 */
    border: none;
    cursor: pointer; /* 鼠标悬停时显示小手图标 */
    background: none;

}

.text-area-container {
    position: relative;
}

.text-count {
    position: absolute;
    bottom: 5px; /* 调整位置 */
    right: 5px; /* 调整位置 */
    background-color: rgba(255, 255, 255, 0.7); /* 半透明背景 */
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px; /* 调整字体大小 */
}

.title-input {
    font-size: 25px; /* 您可以根据需要调整字体大小 */
}
.text-body{
    font-size: 20px;
}
